@font-face {
  font-family: "Questrial";
  src: url("Questrial.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-100: oklch(0 0 0);
  --neutral-075: oklch(0 0 0 / 0.75);
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  line-height: 1;
  min-height: 100%;
  min-height: 100svh;
  min-width: 100%;
}

.index {
  overflow: hidden;
}

h1,
h2,
h3,
a,
p {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  color: var(--neutral-100);
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

h3 {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

p {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--neutral-075);
}

a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

h1::before,
h1::after,
p::before,
p::after,
h3::before,
h3::after {
  content: "";
  display: table;
}

h1::before {
  margin-bottom: -0.143em;
}

h1::after {
  margin-top: -0.195em;
}

p::before {
  margin-bottom: -0.143em;
}

p::after {
  margin-top: -0.195em;
}

h3::before {
  margin-bottom: -0.143em;
}

h3::after {
  margin-top: -0.195em;
}

a:link {
  text-decoration: none;
}

a:visited {
  opacity: 50%;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:focus-visible {
  outline: 0.125rem solid var(--neutral-100);
  outline-offset: 0.125rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.content {
  margin: 1rem auto;
  padding: 0 1rem;
  box-sizing: border-box;
  max-width: 42rem;
}
